{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "always"
}
